<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>House Price Prediction</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/main.css') }}">
    <script src='main.js'></script>
</head>

<body>
    <div class="register_page">
        <div class="form">
            <form action="{{ url_for('predict') }}" method="POST">
                Age: <input type="number" name="AGE" placeholder="Enter Age"><br>
                Age Category: <input type="number" name="AGE_Category" placeholder="Enter Age Category"><br>
                Past Experience: <input type="number" name="PAST_EXP" placeholder="Enter Past Experience"><br>
                Designation Category: <input type="number" name="DESIGNATION_Category" placeholder="Enter Designation Category"><br>
                <input type="submit" value="Predict" class="submit">
            </form>
            <p> Salary is: {{data}}</p>
        </div>
    </div>
</body>

</html>
